MONGO_URI = Your MongoDB URI goes here
JWT_SECRET = Your JWT SECRET goes here
REDIS_HOST = Your REDIS HOST goes here
REDIS_PORT = Your REDIS PORT goes here
REDIS_PASSWORD = Your REDIS PASSWORD goes here
