NODE_ENV = your enviroment either "production" or "development"
FRONTEND_URL = your frontnd url
PORT = your port number
MONGO_URI = your mongodb url connection string
JWT_SECRET = your jwt scret key here
REDIS_HOST = your redis host key here 
REDIS_PORT = your redis port key here 
REDIS_PASSWORD = your redis password here
GOOGLE_CLIENT_ID = your google client id here 
GOOGLE_CLIENT_SECRET = your google client secret here
GOOGLE_CALLBACK_URL = your google callback url
YOUTUBE_API_KEY = your youtube api key here 